*,
html {
    margin: 0;
    padding: 0;
}

.container {
   
}

.img1 {
    width: 35%;
    height: 35%;
}

.img2 {
    width: 35%;
    height: 35%;
}

.img3 {
    width: 35%;
    height: 35%;
}